body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden; 
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.dropmenu li {
    display: block;
    list-style: none; 
    margin-top: 20px;
    float: left;
    position: relative;
    transition-duration: 0.5s;
}

.dropmenu a {
    /*display: block;
    float: left;*/
    flex-wrap: wrap;
    padding: 1rem;
    text-decoration: none;
    color: rgba(52, 49, 49, 0.986);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.346px;  
}

.dropmenu li a:hover {
    background: linear-gradient(to right top, #d4c5dc, #c9cce8, #bbd4ef, #aedcef, #a8e3e8);
    color: rgb(7, 54, 244);
}
.topnav .icon {
    display: none;
}

.dropmenu li .dropdown-content {
    visibility: hidden;
    opacity: 0;
    margin-left: -2.6rem;
    /*min-width: 5rem;*/
    position: absolute;
    transition: all 0.5s ease;
    top: 1rem;
    left: 0;
    display: none;
}

.dropdown-content a {
    font-size: 18px; 
}

/* make the drop links visible on hover*/
.dropmenu li:hover > ul,
.dropmenu li:focus-within > ul,
.dropmenu li .drop-content:hover,
.dropmenu li .drop-content:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.346px;
    text-align: center;
    color: rgb(52, 49, 49);
    padding-top: 14rem;
}

.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    padding-top: 4rem;
    width: 100%;
    max-width: 1100px;
    max-height: 1200px;   
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
}

.wrapper img {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all .25s;
    &:nth-child(7n + 1) {
      grid-column: 2 / span 2;
    }
    &:hover {
        z-index: 2;
        transform: scale(1.3);
    }
}
 

@media screen and (max-width: 600px) {
    /* making the burger icon visible on smaller screen sizes and other menu links hidden*/
    .topnav li:not(:first-child) {
        display: none;
    }
        
    .topnav a.icon {
    float: right;
    display: block;
    /*visibility: visible;
    opacity: 1;*/
   }     
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive li {
        display: block;
        padding: 10px; 
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -2.8rem;
        text-align: left;
        font-size: 14px;
        
    }
}
